extends ../layouts/default

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		if post.image.exists
			a(href='/blog/post/' + post.slug)
				.thumb(style="background-image:url(#{post.image.url})")
		.info
			p.metas
				if post.publishedDate
					| #{post._.publishedDate.format('MMMM Do, YYYY').toUpperCase()} 
				if post.categories && post.categories.length
					| in 
					each cat, i in post.categories
						a(href='/blog/' + cat.key)= cat.name
						if i < post.categories.length - 1
							| , 
						else
							|  
				if post.author
					| BY 
					span.author #{post.author.name.first}
			h2: a(href='/blog/post/' + post.slug)= post.title
			.shareaholic-canvas(data-app='share_buttons', data-app-id='24082972')
			.post-content!= post.content.brief
			if post.content.extended
				p.read-more: a(href='/blog/post/' + post.slug) 
					閱讀全文 
					i.zmdi.zmdi-chevron-right

block opengraph
	title= title || 'Blog | 奧革設計 - 創業公司的設計夥伴'
	meta(property='og:site_name', content='奧革設計 - 創業公司的設計夥伴')
	meta(property='og:type', content='website')
	meta(property='og:url', content='')
	meta(property='og:title', content='Blog | 奧革設計 - 創業公司的設計夥伴')
	meta(property='og:description', content='精心整理了各式各樣的設計資源，有各種靈感、資源、工具，設計師的你別錯過了！')
	meta(property='og:image', content='/images/cover.jpg')
	meta(property='og:locale', content='zh_TW')

block content
	.container(ng-app='BlogApp', ng-cloak): .row.blog-panel(ng-controller="BlogController", ng-init="init()")
		.col-sm-9.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				//- if data.posts.results.length
					//- if data.posts.totalPages > 1
					//- 	h4.text-weight-normal Showing 
					//- 		strong #{data.posts.first}
					//- 		|  to 
					//- 		strong #{data.posts.last}
					//- 		|  of 
					//- 		strong #{data.posts.total}
					//- 		|  posts.
					//- else
					//- 	h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
				.posts(infinite-scroll="myPagingFunction()", infinite-scroll-distance="0", infinite-scroll-disabled="isLoadingPost || noMorePost")
					.post(ng-if="posts", ng-repeat="post in posts")
						//- if post.image.exists
						a(ng-if="post.image", href='/blog/post/{{post.slug}}')
							.thumb(lazy-img="{{post.image.url}}")
						.info
							p.metas
								span(ng-if="post.publishedDate") {{post.publishedDate | date:'MMM d, y' | uppercase}} 
								span(ng-if="post.author") BY 
									span.author {{post.author.name.first | uppercase}} 
							h2: a(href='/blog/post/{{post.slug}}') {{post.title}}
							//- .shareaholic-canvas(data-app='share_buttons', data-app-id='24082972')
							.post-content(ng-bind="post.content.brief")
							p.read-more: a(href='/blog/post/{{post.slug}}') 
								閱讀全文 
								i.zmdi.zmdi-chevron-right

					.loading-message(ng-if="noMorePost") 沒有更多文章啦！
					//- .loading-message(ng-if="isLoadingPost"): i.zmdi.zmdi-hc-spin.zmdi-chart-donut 
					div(loader, ng-if="isLoadingPost")

				//- if data.posts.totalPages > 1
				//- 	ul.pagination
				//- 		if data.posts.previous
				//- 			li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
				//- 		else
				//- 			li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
				//- 		each p, i in data.posts.pages
				//- 			li(class=data.posts.currentPage == p ? 'active' : null)
				//- 				a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
				//- 		if data.posts.next
				//- 			li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
				//- 		else
				//- 			li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				//- else
				//- 	if data.category
				//- 		h3.text-muted There are no posts in the category #{data.category.name}.
				//- 	else
				//- 		h3.text-muted There are no posts yet.
			//- nav
			//- 	ul.pagination
			//- 		li: a(href="#", aria-label="Previous"): span(aria-hidden="true") 1
			//- 		li: a(href="#", aria-label="Previous"): span(aria-hidden="true") 2
			//- 		li: a(href="#", aria-label="Previous"): span(aria-hidden="true") 3
			//- 		li: a(href="#", aria-label="Previous"): span(aria-hidden="true") 4
		
		//- if data.categories.length
		.col-sm-4.col-md-3
			.post-list.recent
				h6 近期文章
				each post in data.posts
					p
						a(href='/blog/post/' + post.slug)
							i.zmdi.zmdi-chevron-right
							span #{post.title}
			.fb-page(data-href="https://www.facebook.com/ogdesign.tw/", data-width="100%" , data-hide-cover="false", data-show-facepile="false", data-show-posts="true", style="height: 400px; margin-bottom: 20px;")
				//- .fb-xfbml-parse-ignore
					blockquote(cite="https://www.facebook.com/ogdesign.tw/")
						a(href="https://www.facebook.com/ogdesign.tw/") 奧革設計



			//- .list-group
				a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
				each cat in data.categories
					a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name + '(' +cat.postCount + ')'

block js
	//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
	//- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js')
	script(src='/js/ng-infinite-scroll.min.js')
	script(src='/js/blog.js')
	script.
		window.fbAsyncInit = function() {
			FB.init({
				appId				:'YOUR_APP_ID', // App ID
				channelUrl	: '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
				status			: true, // check login status
				cookies			: true, // enable cookies to allow the server to access the session
				xfbml				: true  // parse XFBML
			});
		};
		// Load the SDK Asynchronously
		(function(d){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));